<li class="file">
  <div class="rightSide">
    <p class="title" id="<%=id%>"><%=displayName%></p>
    <p class="description"><%=description%></p>
  </div>

  <div class="leftSide">
    <a class="btn primary" href="/uploads/<%=name%>">Download</a>
    <a class="btn danger" href="/del?id=<%=id%>">Remove</a>
  </div>
</li>
